:root {
    --levi-color: rgb(78, 150, 82);
}



body {
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(41, 5, 109); */
    background: url(imagens/fundo.jpg) center/cover fixed;
    font-family: 'Zen Kurenaido';
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

/* ===============conteudo================ */
#gojo img {
    border-radius: 60%;
    border: rgb(29, 117, 189) 5px solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

}

h4 {
    color: white;
    text-align: center;
    font-size: 25px;
}

p {
    color: white;
    text-align: center;
    font-size: 20px;

    margin-bottom: 100px;
}

/* =========link============= */
a:hover {
    color: var(--levi-color);
    transition: 300ms;
}

/* ============pag2========== */

/* cabeçalho */
h1 {
    color: white;

}

#titulo {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.fundo {
    background-color: white;
    width: 137px;
    height: 137px;

    margin: auto;
}

#html {
    background-color: white;
    border: solid black 5px;

    text-align: center;
    padding-top: 10px;

    width: 200px;
    height: 250px;

    display: inline-block;
}

#html:hover {
    background-color: rgb(253, 185, 126);
    transition: 0.30s;
}

#htm {
    border: solid black 5px;
    padding: 2px;
}

#css {
    background-color: white;
    border: solid black 5px;

    text-align: center;
    padding-top: 10px;

    width: 200px;
    height: 250px;

    margin-left: 300px;
    display: inline-block;
}

#css:hover {
    background-color: rgb(146, 211, 181);
    transition: 0.30s;
}

#cs {
    border: solid black 5px;
    padding: 2px;
}

#js {
    background-color: white;
    border: solid black 5px;

    text-align: center;
    padding-top: 10px;

    width: 200px;
    height: 250px;

    margin-left: 300px;
    margin-bottom: 100px;
    display: inline-block;
}

#js:hover {
    background-color: rgb(255, 255, 119);
    transition: 0.30s;
}

#j {
    border: solid black 5px;
    padding: 2px;
}

.hide {
    display: none;
}

.myDIV:hover+.hide {
    transition: ease-in-out;
    display: block;
    color: black;
}